@import "bootstrap/scss/bootstrap";
@import "./auth/login";
@import "bootstrap_custom";

*, ::after, ::before{
  box-sizing: border-box;
}
body,html{
  height: 100%;
}
#app{
  height: 100%;
}
body{
  margin: 0;
}
#home{
 max-height: 98vh;
}
#sidebarleft{
  height: 98vh;
  background-color: #665dfe;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
}
#sidebarleft .nav{
  align-content: center;
  padding-left: 0;
  display: flex;
}
#sidebarleft .nav li{
  margin-top: 50px;
}
#sidebarleft .nav i{
  font-size: 20px;
}
#logo{
  width: 40px;
  margin: 20px;
  padding: 5px 0 5px 5px;
}
#conversation{
  background-color: #f1f2f2;
  max-height: 100vh;
  overflow-y: auto;
}
#conversation::-webkit-scrollbar {
  display: none;
}
#conversation-avatar{
  position: relative;
}
.card img{
  width: 100px;
  height: 100px;
}
.avatar-default img{
  width: 100px;
  height: 100px;
}
.modal-content img{
  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.modal-content .media{
  display: flex;
}
