.chat-body{
  max-height: 100vh;
  overflow-y:auto;
}
.chat-header img{
  width: 60px;
  height: 60px;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
#status-online{
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 8px;
  color: green;
}
#status-offline{
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 8px;
  color: gray;
}
.message-count{
  padding: 0 4px 0;
  color: white;
  background-color: #665dfe;
  border-radius: 50%;
}
.appbar .appbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e9f2;
  width: 100%;
  padding: .88rem 0;
}
.message-self{
  text-align: right;
  margin-bottom:1.25rem;
}
.message-self .message-content{
  padding:1rem 2.25rem;
  background-color: #665dfe;
  color:white;
  margin-left:1.25rem;
  border-radius:1.25rem;
  text-align:left;
  display:inline-block;
  max-width:25rem;
}
.message{
  text-align: left;
  margin-bottom:1.25rem;
}
.message .message-content{
  padding:1rem 2.25rem;
  background-color: #dcdcdc;
  margin-left:1.25rem;
  border-radius:1.25rem;
  text-align:left;
  display:inline-block;
  max-width:25rem;
}
.message .message-content .message-attachment {
  display:flex;
  align-items:center
}
.message .message-content .message-attachment .btn-icon {
  margin-right:.625rem
}
.message .message-options {
  display: inline-flex;
  align-items: center;
  font-size: .75rem;
  color: #adb5bd;
  margin-top: .3125rem;
}
.message-self .message-options {
  flex-direction:row-reverse;
  display: inline-flex;
  align-items: center;
  font-size: .75rem;
  color: #adb5bd;
  margin-top: .3125rem;
}
.message .message-options > * {
  margin-left: .3125rem;
  margin-right: .3125rem;
}

.message .message-options > :not(.avatar) {
  height: 1.125rem;
  line-height: 1.125rem;
  display: inline-block;
  vertical-align: middle
}
.message-self .message-options > * {
  margin-left: .3125rem;
  margin-right: .3125rem;
}
.message-options .avatar img{
  width: 30px;
  height: 30px;
}
.message-self .message-options > :not(.avatar) {
  height: 1.125rem;
  line-height: 1.125rem;
  display: inline-block;
  vertical-align: middle
}
.message-reply{
  margin:0 30px -20px 0;
}
.reply-title{
  margin-top: 20px;
  font-size: 13px;
}
.message-reply .message-content{
  padding:1rem 2.25rem;
  background-color: #dcdcdc;
  margin-left:1.25rem;
  border-radius:1.25rem;
  text-align:left;
  display:inline-block;
  max-width:25rem;
  color: #706d6d;
}
.contact-list .contacts-item {
  cursor: pointer;
  border-radius: 5px;
}

.contact-list .contacts-item:hover{
  border: 1px solid #665dfe;
}
.chat-body .chat-footer textarea{
  padding-left: 60px;
  resize: none;
  border: none;
}
.chat-body .chat-footer{
  position: relative;
  bottom: 0;
  position: sticky;
}
.chat-body .chat-footer .form-control {
  border:0;
  border-top:1px solid #e5e9f2;
  border-radius:0
}
.chat-body .chat-footer .send-icon{
  position:absolute;
  right:10px;
  top:10px;
  height:3rem;
  width:3rem;
  padding:0;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center

}
.chat-body .chat-footer .attachment {
  position:absolute;
  left:20px;
  top:22px;
  z-index:1
}
//conversation_detail

.chat-infor .infor-avatar img{
  width: 70px;
  height: 70px;
}
.chat-infor{
  text-align: center;
}
.user-chat-infor span{
  opacity: 0.5;
  font-size: 15px;
}
.chat-start{
  padding: 320px;
  text-align: center;
}
.chat-start img{
  width: 60px;
  height: 60px;
}
#conversation-user-avatar img{
  width: 40px;
  height: 40px;
}
