.btn-color{
  background-color: #213b69;
  color: #fff;

}
.btn-color:hover{
  background-color: #12264a;
  color: #fff;
}
.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}