<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import Login from "./views/auth/Login.vue";
import SideBarLeft from "./components/SideBarLeft.vue";
import { useRouter } from 'vue-router';
import { onMounted } from 'vue';
const router = useRouter()
onMounted(()=>{
    if(!localStorage.getItem('token')){
        router.push({name:'auth.login'})
    }
})
</script>

<template>
    <div id="home" class="row">
        <RouterView />
    </div>
</template>

<style scoped>

</style>
