<script setup>
import {httpService} from "../../services/app-service";
import {useRouter} from "vue-router"
import {onMounted,reactive,ref} from "vue"
import axios from "axios";
// import {c} from "../../../dist/assets/index-a08f2061";
const router = useRouter()
const LoginForm = reactive({
    'email':'',
    'password':''
})
const errors = ref(null)
const errorInvaild = ref(null)
const inputEmail = ref(null)
function loginClick(){
    httpService.login(LoginForm)
        .then(res=>{
            localStorage.setItem('token',res.data.token)
            console.log(res.data)
            router.push({name:'home'})
        }).catch(err=>{
            const data = err.response.data
        if(data.errors){
            errors.value=data.errors
            console.log(errors)
            inputEmail.value.focus()
        }
        if (data.error){
            errors.value = null
            errorInvaild.value = data.error
        }
    })
}

</script>
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Quicky Chat</h2>
                <div class="card my-5">

                    <div class="card-body cardbody-color p-lg-5">

                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="200px" alt="profile">
                        </div>

                        <div class="mb-3">
                            <input ref="inputEmail" type="text" class="form-control" :class="{'is-invalid':errors&&errors.email}" v-model="LoginForm.email" id="email" aria-describedby="emailHelp"
                                   placeholder="Email">
                            <p class="message-error" v-if="errors && errors.email && errors.email.length">Bạn cần nhập email</p>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" :class="{'is-invalid':errors&&errors.password}" v-model="LoginForm.password" id="password" placeholder="Password">
                            <p class="message-error" v-if="errors && errors.password">Bạn cần nhập password</p>
                        </div>
                            <p class="message-error" v-if="errorInvaild">Tên email hoặc mật khẩu không đúng, vui  kiểm tra lại</p>
                        <div class="text-center"><button class="btn btn-color px-5 mb-5 w-100" @click="loginClick">Login</button></div>
                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                            Registered? <router-link :to="{name:'auth.register'}" class="text-dark fw-bold"> Create an
                                Account</router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>


<style scoped>
.message-error{
    font-size: 15px;
    color: red;
}
</style>
