<script setup>
import {httpService} from "../../services/app-service";
import {useRouter} from "vue-router";
import {ref,reactive} from "vue";
const router = useRouter()
const errors = ref(null)
const inputName = ref(null)
const LoginForm =reactive({
    'name':'',
    'email':'',
    'password':''
})
function registerClick(){
    httpService.register(LoginForm)
        .then(res=>{
            localStorage.setItem('token',res.data.token)
            router.push({name:'home'})
        }).catch(err=>{
        const data = err.response.data
        if(data.errors){
            errors.value = data.errors
            inputName.value.focus()
        }
    })
}
</script>
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Quicky Chat</h2>
                <div class="card my-5">

                    <div class="card-body cardbody-color p-lg-5">

                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="200px" alt="profile">
                        </div>
                        <div class="mb-3">
                            <input ref="inputName" type="text" class="form-control" :class="{'is-invalid':errors&&errors.name}" v-model="LoginForm.name" id="name" aria-describedby="emailHelp"
                                   placeholder="Name">
                            <p class="message-error" v-if="errors&&errors.name">Tên không được bỏ trống</p>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" :class="{'is-invalid':errors&&errors.email}" id="email" v-model="LoginForm.email" aria-describedby="emailHelp"
                                   placeholder="Email">
                            <p class="message-error" v-if="errors&&errors.email">Email không được bỏ trống</p>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" :class="{'is-invalid':errors&&errors.password}" v-model="LoginForm.password" id="password" placeholder="Password">
                            <p class="message-error" v-if="errors&&errors.password">Password không được bỏ trống</p>
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100" @click="registerClick">Register</button></div>
                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Already have an account? <router-link :to="{name:'auth.login'}" class="text-dark fw-bold"> Login</router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<style scoped>
.message-error{
    font-size: 15px;
    color: red;
}
</style>